<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="../static/style3.css">
    <link rel="icon" 
    type="image/png" 
    href="../static/logo4.jpg">

</head>

<body>
    <h1>☹</h1>
    <h1>SORRY!</h1>
    <h2>The movie you requested is not in our database. Please check the spelling or try with other movies!</h2>
</body>

</html>